:root {
	--yellow: #f1d00a;
	--yellow__shade1: #d9bb09;
	--yellow__shade2: #c1a608;
	--yellow__shade3: #a99207;
	--yellow__shade4: #917d06;
	--yellow__shade5: #796805;
	--yellow__shade6: #605304;
	--yellow__shade7: #483e03;
	--yellow__shade8: #302a02;
	--yellow__shade9: #181501;
	--yellow__tint1: #f2d523;
	--yellow__tint2: #f4d93b;
	--yellow__tint3: #f5de54;
	--yellow__tint4: #f7e36c;
	--yellow__tint5: #f8e885;
	--yellow__tint6: #f9ec9d;
	--yellow__tint7: #fbf1b6;
	--yellow__tint8: #fcf6ce;
	--yellow__tint9: #fefae7;
	--gray: #fafafa;
	--gray__shade1: #f5f5f5;
	--gray__shade2: #e5e5e5;
	--gray__shade3: #d4d4d4;
	--gray__shade4: #a3a3a3;
	--gray__shade5: #737373;
	--gray__shade6: #525252;
	--gray__shade7: #404040;
	--gray__shade8: #262626;
	--gray__shade9: #171717;
}

/********** SECTION TRADE **********/
.section-trading {
	margin: 4.8rem auto;
	display: flex;
	justify-content: center;
	gap: 4.8rem;
}

/* Article section : childs :: chart-container, info-container  */
.trade-article {
	width: 81rem;
}

/* Chart container  */
.chart-container {
	width: 100%;
	padding: 1rem 3rem 3rem 3rem;
	background-color: var(--gray);
	border-radius: 1rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
}

/* Information container  */
.info-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
	margin: 9.6rem auto;
	gap: 4.8rem;
	/* background-color: var(--gray);
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
	border-radius: 1rem; */
}

.info-box {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.info-box--head {
	font-size: 2.2rem;
	font-weight: 500;
}

.info-box--content {
	display: flex;
	flex-direction: column;
}

.info-row {
	display: grid;
	grid-template-columns: 1.2fr 1.2fr 1.2fr 1fr;
	padding: 1rem 0;
}

.row-head {
	font-size: 1.4rem;
	color: var(--gray__shade5);
}

.row-body {
	font-size: 1.6rem;
	color: var(--gray__shade8);
}

/* Aside section : child :: trade-container, trend-container */

.trade-aside {
	width: 38rem;
}

.trend-container {
	margin-top: 4.8rem;
	width: 100%;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
	border-radius: 1rem;
	overflow: hidden;
}

.trend-heading {
	font-size: 2.4rem;
	padding: 3rem;
	font-weight: 500;
	color: var(--gray__shade7);
	background-color: var(--gray);
	border-bottom: 1px solid var(--gray__shade2);
}

.trend-coin {
	color: var(--gray__shade7);
	font-size: 1.6rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.8rem 2.4rem;
	background-color: var(--gray);
	/* border-bottom: 0.5px solid var(--gray__shade2); */
	transition: all 0.3s;
}

.trend-coin:hover {
	background-color: var(--gray__shade2);
}

.coin-name--trend {
	font-weight: 400;
}

/* Trade container  */
.trade-container {
	border-radius: 1rem;
}

.trade-head {
	height: 5.76rem;
	display: flex;
	align-items: flex-end;
	border-bottom: 0.5px solid var(--gray__shade1);
}

.trade-btn {
	width: 48%;
	border: none;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	background-color: var(--gray__shade2);
	font-size: 1.8rem;
	padding: 1.5rem 0;
	display: inline-block;
	transition: all 0.3s;
	cursor: pointer;
}

.trade-btn--active {
	box-shadow: 0 -0.3rem 2rem rgba(0, 0, 0, 0.05);
	width: 52%;
	padding: 1.8rem 0;
	background-color: var(--gray);
}

.trade-body {
	width: 100%;
	padding: 3rem 0;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--gray);
	align-items: center;
	gap: 2.4rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	display: none;
}

.trade-body--active {
	display: flex;
}

.trade-input--group {
	width: 86%;
	padding: 1.8rem 2rem;
	border-radius: 10px;
	background-color: var(--gray__shade1);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.trade-input-inside-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
	color: var(--gray__shade5);
}

.input-amount {
	width: 85%;
	border: none;
	font-size: 1.8rem;
	background-color: var(--gray__shade1);
	color: var(--gray__shade7);
}

.input-amount::placeholder {
	color: var(--gray__shade4);
}

.input-amount:focus {
	outline: none;
}

.trade-unit {
	font-size: 1.8rem;
	color: var(--gray__shade6);
}

.btn-cta--buy {
	width: 90%;
	border: none;
}
