{% extends "layout.html" %} {% block title %} Buy & Sell Bitcoin and Altercoins
| Cryptocurrency Exchange {% endblock %} {% block left_nav %}
<div class="main-nav--left centeriod">
	{% if session["user_id"] %}
	<div class="account">
		<button class="user-account">
			<img
				src="../static/images/icons/user.svg"
				alt="user icon"
				class="account-icon account-icon--user"
			/>
			{{ user_name }}
			<img
				src="../static/images/icons/sort-down.svg"
				alt="sort down icon"
				class="account-icon account-icon--sortdown"
			/>

			<img
				src="../static/images/icons/sort-up.svg"
				alt="sort down icon"
				class="account-icon account-icon--sortup"
			/>
		</button>

		<ul class="account-setting">
			<li>
				<a href="#" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Profile</a
				>
			</li>
			<li>
				<a href="/wallet" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Wallet</a
				>
			</li>
			<li>
				<a href="/logout" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Log out</a
				>
			</li>
		</ul>
	</div>
	{% else %}
	<a href="/login" class="log">Log in</a>
	<a href="/register" class="btn-cta ls-small">Register</a>
	{% endif %}
</div>
{% endblock %} {% block main %}
<main data-template="index">
	<section class="section-intro container">
		<h1 class="intro-heading center-text">Enjoy the crypto world at no cost</h1>
		{% if session["user_id"] %}
		<p class="intro-content ls-small center-text">
			CoinSavvy is the easiest place to simulate your crypto portfolio.<br />
			Start your crypto journey right away.
		</p>
		<a href="/trade/bitcoin" class="btn-cta ls-small">Buy BTC</a>
		{% else %}
		<p class="intro-content ls-small center-text">
			CoinSavvy is the easiest place to simulate your crypto portfolio.<br />
			Join CoinSavvy now with just a few clicks.
		</p>
		<a href="/register" class="btn-cta ls-small">Get started</a>
		{% endif %}
	</section>

	<section class="section-showcase container">
		<div class="showcase center-text">
			<div class="showcase-box">
				<span class="showcase-box--number ls-m">$10,000</span>
				<p class="showcase-box--content ls-small">
					Fake money in your wallet once registered
				</p>
			</div>

			<div class="showcase-box">
				<span class="showcase-box--number ls-m">30+</span>
				<p class="showcase-box--content ls-small">Cryptocurrencies listed</p>
			</div>

			<div class="showcase-box">
				<span class="showcase-box--number ls-m">99+</span>
				<p class="showcase-box--content ls-small">Active users everyday</p>
			</div>

			<div class="showcase-box">
				<span class="showcase-box--number ls-m">0.25%</span>
				<p class="showcase-box--content ls-small">
					Lowest transition fees for every trade
				</p>
			</div>
		</div>
	</section>

	<div class="section-market container" id="market">
		<h2 class="section-heading">Market Trend</h2>

		<div class="market-row market-row--head">
			<span>Name</span>
			<span>Price</span>
			<span>24h Change</span>
			<span class="coin-market-cap">Market Cap</span>
		</div>

		{% for coin in coins %}
		<a
			href="/trade/{{ coin.coin_id }}"
			class="market-row market-row--coin {{ coin.symbol }}"
		>
			<div class="coin-info">
				<img
					src="{{ coin.image }}"
					alt="{{ coin.name }} logo"
					class="coin-logo"
				/>
				<span class="coin-name">{{ coin.name }}</span>
				<span class="coin-symbol">{{ coin.symbol }}</span>
			</div>
			<span class="coin-price ls-small">{{ coin.price }}</span>
			<span class="coin-price-change-24h ls-small color"
				>{{ coin.price_change_24h }}</span
			>
			<span class="coin-market-cap ls-small">{{ coin.market_cap }}</span>
		</a>
		{% endfor %}
		<a href="/markets" class="center-text more-market">View more markets</a>
	</div>

	<section class="section-features container">
		<h2 class="section-heading">Quick features</h2>
		<div class="section-desc ls-small">
			<p>
				A powerful crypto simulator with innovative features in your pocket.
			</p>
		</div>

		<div class="features">
			<div class="feature-box">
				<img
					src="../static/images/icons/bolt.svg"
					alt="bolt icon svg"
					class="feature-icon"
				/>
				<h3 class="feature-title ls-small">Instant Trading</h3>
				<p class="feature-content">Real-time balance and profit update</p>
			</div>

			<div class="feature-box">
				<img
					src="../static/images/icons/hand-holding-usd.svg"
					alt="bolt icon svg"
					class="feature-icon"
				/>
				<h3 class="feature-title ls-small">Risk Free</h3>
				<p class="feature-content">
					No need to risk your money to get experiences in crypto.
				</p>
			</div>

			<div class="feature-box">
				<img
					src="../static/images/icons/user-ninja.svg"
					alt="bolt icon svg"
					class="feature-icon"
				/>
				<h3 class="feature-title ls-small">Anonymous</h3>
				<p class="feature-content">
					We wouldn't ask any of your personal information
				</p>
			</div>

			<div class="feature-box">
				<img
					src="../static/images/icons/question.svg"
					alt="bolt icon svg"
					class="feature-icon"
				/>
				<h3 class="feature-title ls-small">24/7 Support</h3>
				<p class="feature-content">
					Our support team is available 24 hours a day
				</p>
			</div>
		</div>
	</section>

	<section class="section-prefooter">
		{% if session["user_id"] %}
		<h2>Buy Bitcoin Now</h2>
		<a href="/trade/bitcoin" class="btn-cta ls-small">Buy BTC</a>
		{% else %}
		<h2>Start with Bitcoin Now</h2>
		<a href="/register" class="btn-cta ls-small">Register Now</a>
		{% endif %}
	</section>
</main>
{% endblock %} {% block script %}
<script src="../static/js/main.js"></script>
{% endblock %}
