{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="../static/css/markets.css" />
{% endblock %} {% block title %} Markets {% endblock %} {% block left_nav %}
<div class="main-nav--left centeriod">
	{% if session["user_id"] %}
	<div class="account">
		<button class="user-account">
			<img
				src="../static/images/icons/user.svg"
				alt="user icon"
				class="account-icon account-icon--user"
			/>
			{{ user_name }}
			<img
				src="../static/images/icons/sort-down.svg"
				alt="sort down icon"
				class="account-icon account-icon--sortdown"
			/>

			<img
				src="../static/images/icons/sort-up.svg"
				alt="sort down icon"
				class="account-icon account-icon--sortup"
			/>
		</button>

		<ul class="account-setting">
			<li>
				<a href="#" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Profile</a
				>
			</li>
			<li>
				<a href="/wallet" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Wallet</a
				>
			</li>
			<li>
				<a href="/logout" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Log out</a
				>
			</li>
		</ul>
	</div>
	{% else %}
	<a href="/login" class="log">Log in</a>
	<a href="/register" class="btn-cta ls-small">Register</a>
	{% endif %}
</div>
{% endblock %} {% block main %}
<main data-template="market">
	<div class="market-container market-container--head">
		<div class="market-heading">
			<h3>Cryptocurrencies</h3>
			<input
				type="search"
				name="search"
				class="search"
				autocomplete="off"
				placeholder="&#xF002; Search Coin Name"
				style="font-family: Arial, FontAwesome; line-height: 20px"
			/>
		</div>
		<div class="market-row market-row--head">
			<span>Name</span>
			<span>Price</span>
			<span class="coin-price-change-24h">24h Change</span>
			<span class="coin-market-cap">Market Cap</span>
		</div>
	</div>
	<div class="market-container market-container--coins">
		{% for coin in coins %}
		<a
			href="/trade/{{ coin.coin_id }}"
			class="market-row market-row--coin {{ coin.symbol }}"
			data-name="{{ coin.name }}"
		>
			<div class="coin-info">
				<img
					src="{{ coin.image }}"
					alt="{{ coin.name }} logo"
					class="coin-logo"
				/>
				<span class="coin-name">{{ coin.name }}</span>
				<span class="coin-symbol">{{ coin.symbol }}</span>
			</div>
			<span class="coin-price ls-small">{{ coin.price }}</span>
			<span class="coin-price-change-24h ls-small color"
				>{{ coin.price_change_24h }}</span
			>
			<span class="coin-market-cap ls-small">{{ coin.market_cap }}</span>
		</a>
		{% endfor %}
	</div>
	<div class="market-container fill"></div>

	{% endblock %}
</main>
{% block script %}
<script src="../static/js/main.js"></script>
<script src="../static/js/markets.js"></script>
{% endblock %}
