{% extends "layout.html" %} {% block title %} Markets {% endblock %} {% block
left_nav %}
<div class="main-nav--left centeriod">
	<a href="/login" class="login">Log in</a>
	<a href="/register" class="btn-cta ls-small">Register</a>
</div>
{% endblock %} {% block main %}
<main data-template="market">
	<div class="market-container market-container--head">
		<div class="market-heading">
			<h3>Cryptocurrencies</h3>
			<input
				type="search"
				name="search"
				class="search"
				autocomplete="off"
				placeholder="&#xF002; Search Coin Name"
				style="font-family: Arial, FontAwesome; line-height: 20px"
			/>
		</div>
		<div class="market-row market-row--head">
			<span>Name</span>
			<span>Price</span>
			<span class="coin-price-change-24h">24h Change</span>
			<span class="coin-market-cap">Market Cap</span>
		</div>
	</div>
	<div class="market-container market-container--coins">
		{% for coin in coins %}
		<a
			href="/trade/{{ coin.coin_id }}"
			class="market-row market-row--coin {{ coin.symbol }}"
			data-name="{{ coin.name }}"
		>
			<div class="coin-info">
				<img
					src="{{ coin.image }}"
					alt="{{ coin.name }} logo"
					class="coin-logo"
				/>
				<span class="coin-name">{{ coin.name }}</span>
				<span class="coin-symbol">{{ coin.symbol }}</span>
			</div>
			<span class="coin-price ls-small">{{ coin.price }}</span>
			<span class="coin-price-change-24h ls-small color"
				>{{ coin.price_change_24h }}</span
			>
			<span class="coin-market-cap ls-small">{{ coin.market_cap }}</span>
		</a>
		{% endfor %}
	</div>
	<div class="market-container fill"></div>

	{% endblock %}
</main>
{% block script %}
<script src="../static/js/main.js"></script>
{% endblock %}
