{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="../static/css/trade.css" />
{% endblock %} {% block title %} {{ main_coin.name }}({{ main_coin.symbol }})
Price Chart {% endblock %} {% block left_nav %}
<div class="main-nav--left centeriod">
	{% if session["user_id"] %}
	<div class="account">
		<button class="user-account">
			<img
				src="../static/images/icons/user.svg"
				alt="user icon"
				class="account-icon account-icon--user"
			/>
			{{ user_name }}
			<img
				src="../static/images/icons/sort-down.svg"
				alt="sort down icon"
				class="account-icon account-icon--sortdown"
			/>

			<img
				src="../static/images/icons/sort-up.svg"
				alt="sort down icon"
				class="account-icon account-icon--sortup"
			/>
		</button>

		<ul class="account-setting">
			<li>
				<a href="/wallet" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Wallet</a
				>
			</li>
			<li>
				<a href="/logout" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Log out</a
				>
			</li>
			<li>
				<a href="/delete" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Delete Account</a
				>
			</li>
		</ul>
	</div>
	{% else %}
	<a href="/login" class="log">Log in</a>
	<a href="/register" class="btn-cta ls-small">Register</a>
	{% endif %}
</div>
{% endblock %} {% block main %}

<main
	data-template="trade"
	data-main-coin="{{ main_coin.coin_id }}"
	data-cash="{{ cash }}"
	data-bal="{{ coin_balance }}"
>
	<section class="section-trading">
		<article class="trade-article">
			<div class="chart-container centeriod">
				<!-- TradingView Widget BEGIN -->
				<div class="tradingview-widget-container">
					<div id="tradingview_539ce"></div>
					<div class="tradingview-widget-copyright">
						<a
							href="https://www.tradingview.com/symbols/{{ main_coin.symbol }}USD/?exchange={{ main_coin.chart_exchange }}"
							rel="noopener"
							target="_blank"
						>
						</a>
					</div>
					<script
						type="text/javascript"
						src="https://s3.tradingview.com/tv.js"
					></script>
					<script type="text/javascript">
						new TradingView.MediumWidget({
							symbols: [
								["{{ main_coin.chart_exchange }}:{{ main_coin.symbol }}USD|1D"],
							],
							chartOnly: false,
							width: "750",
							height: "468",
							locale: "en",
							colorTheme: "light",
							gridLineColor: "rgba(255, 255, 255, 0)",
							fontColor: "#787B86",
							isTransparent: true,
							autosize: false,
							showVolume: false,
							scalePosition: "right",
							scaleMode: "Normal",
							fontFamily:
								"-apple-system, BlinkMacSystemFont, SegoeUI, Trebuchet MS, Roboto, Ubuntu, sans-serif",
							noTimeScale: false,
							valuesTracking: "2",
							chartType: "area",
							lineColor: "rgba(241, 208, 10, 1)",
							topColor: "rgba(242, 213, 35, 0.2)",
							bottomColor: "rgba(255, 255, 255, 0.1)",
							container_id: "tradingview_539ce",
						});
					</script>
				</div>
				<!-- TradingView Widget END -->
			</div>

			<div class="info-container">
				<div class="info-box info-box--price">
					<h3 class="info-box--head">
						{{ main_coin.symbol }} Price Information
					</h3>
					<div class="info-box--content">
						<div class="info-row row-head">
							<span>All Time High</span>
							<span>Price Change (1h)</span>
							<span>Price Change (24h)</span>
							<span>Price Change (7D)</span>
						</div>

						<div class="info-row row-body">
							<span class="coin-ath">{{ main_coin.ath}}</span>
							<span class="coin-price-change-1h color"
								>{{ main_coin.price_change_1h}}</span
							>
							<span class="coin-price-change-24h color"
								>{{ main_coin.price_change_24h}}</span
							>
							<span class="coin-price-change-7d color"
								>{{ main_coin.price_change_7d}}</span
							>
						</div>
					</div>
				</div>

				<div class="info-box info-box--market">
					<h3 class="info-box--head">
						{{ main_coin.symbol }} Market Information
					</h3>
					<div class="info-box--content">
						<div class="info-row row-head">
							<span>Market Cap Rank</span>
							<span>Market Change (24h)</span>
							<span>Market Cap</span>
							<span>Circulation Supply</span>
						</div>

						<div class="info-row row-body">
							<span class="coin-market-rank">#{{ main_coin.market_rank }}</span>
							<span class="coin-market-change-24h color"
								>{{ main_coin.market_change_24h }}</span
							>
							<span class="coin-market-cap-trade"
								>{{ main_coin.market_cap }}</span
							>
							<span class="coin-circulation-supply"
								>{{ main_coin.circulation_supply }}</span
							>
						</div>
					</div>
				</div>
			</div>
		</article>

		<aside class="trade-aside">
			<div class="trade-container">
				<div class="trade-head">
					<button class="buy-btn trade-btn trade-btn--active">Buy</button>
					<button class="sell-btn trade-btn">Sell</button>
				</div>

				<form
					action="/buy/{{ main_coin.coin_id }}"
					method="post"
					class="trade-body trade-body--buy trade-body--active"
					id="buy-form"
				>
					<div class="trade-input--group">
						<div class="trade-input-inside-group">
							<label for="spend-buy" class="trade-label">Spend</label>
							<span class="max">Max : {{ cash | decimal_four }} USD</span>
						</div>
						<div class="trade-input-inside-group">
							<input
								type="number"
								placeholder="20.00 - 10000.00"
								min="20"
								step="0.000001"
								id="spend-buy"
								name="spend-buy"
								class="input-amount"
								autocomplete="off"
							/>
							<div class="trade-unit">USD</div>
						</div>
					</div>

					<div class="trade-input--group">
						<div class="trade-input-inside-group">
							<label for="recieve-buy" class="trade-label">Recieve</label>
						</div>
						<div class="trade-input-inside-group">
							<input
								type="number"
								placeholder="0.000001"
								min="0"
								step="0.000001"
								id="recieve-buy"
								name="recieve-buy"
								class="input-amount"
								autocomplete="off"
							/>
							<div class="trade-unit">{{ main_coin.symbol }}</div>
						</div>
					</div>

					<div class="slidecontainer">
						<input
							type="range"
							name="range"
							id="slider-buy"
							class="slider slider-buy"
							min="0"
							max="{{ cash }}"
							value="0"
							step="1"
						/>
					</div>

					{% if session["user_id"] %}
					<input
						type="text"
						name="current-price"
						id="current-price-buy"
						class="input-amount hide-input"
						value="0"
					/>

					<input
						type="text"
						name="symbol"
						id="symbol"
						class="input-amount hide-input"
						value="{{ main_coin.symbol }}"
					/>
					{% endif %}

					<div class="submit-box">
						{% if session["user_id"] %}
						<input
							type="submit"
							name="submit"
							value="Buy {{ main_coin.name }}"
							id="buy-btn"
							class="btn-cta--buy btn-cta ls-small center-text"
						/>
						<div class="layer layer-buy"></div>
						{% else %}
						<button class="btn-cta--buy btn-cta ls-small">
							<a href="/register" class="log-btn">Register</a>
							<span>or</span>
							<a href="/login" class="log-btn">Log in</a>
							<span>to buy</span>
						</button>
						{% endif %}
					</div>
				</form>

				<form
					action="/sell/{{ main_coin.coin_id }}"
					method="post"
					class="trade-body trade-body--sell"
					id="sell-form"
				>
					<div class="trade-input--group">
						<div class="trade-input-inside-group">
							<label for="spend-sell" class="trade-label">Spend</label>
							{% if coin_balance %}
							<span class="max"
								>Max : {{ coin_balance | decimal_four }} {{ main_coin.symbol
								}}</span
							>
							{% else %}
							<span class="max">Max : 0 {{ main_coin.symbol }}</span>
							{% endif %}
						</div>
						<div class="trade-input-inside-group">
							<input
								type="number"
								placeholder="0.000001"
								min="0"
								step="0.000001"
								id="spend-sell"
								name="spend-sell"
								class="input-amount"
							/>
							<div class="trade-unit">{{ main_coin.symbol }}</div>
						</div>
					</div>

					<div class="trade-input--group">
						<div class="trade-input-inside-group">
							<label for="recieve-sell" class="trade-label">Recieve</label>
						</div>
						<div class="trade-input-inside-group">
							<input
								type="number"
								placeholder="Minimum : 10"
								min="10"
								step="0.000001"
								id="recieve-sell"
								name="recieve-sell"
								class="input-amount"
							/>
							<div class="trade-unit">USD</div>
						</div>
					</div>

					<div class="slidecontainer">
						<input
							type="range"
							name="range"
							id="slider-sell"
							class="slider slider-sell"
							min="0"
							max="{{ coin_balance }}"
							value="0"
							step="0.000001"
						/>
					</div>

					{% if session["user_id"] %}
					<input
						type="text"
						name="current-price"
						id="current-price-sell"
						class="input-amount hide-input"
						value="0"
					/>

					<input
						type="text"
						name="symbol"
						id="symbol"
						class="input-amount hide-input"
						value="{{ main_coin.symbol }}"
					/>
					{% endif %}

					<div class="submit-box">
						{% if session["user_id"] %}
						<input
							type="submit"
							name="submit"
							value="Sell {{ main_coin.name }}"
							id="sell-btn"
							class="btn-cta--buy btn-cta ls-small center-text"
						/>
						<div class="layer layer-sell"></div>
						{% else %}
						<button class="btn-cta--buy btn-cta ls-small">
							<a href="/register" class="log-btn">Register</a>
							<span>or</span>
							<a href="/login" class="log-btn">Log in</a>
							<span>to sell</span>
						</button>
						{% endif %}
					</div>
				</form>
				{% if session["user_id"] %}
				<div class="expire center-text">
					<span class="expire-display"
						>The price will be expired in
						<span class="expire-time">60</span>
						s
					</span>
					<span class="expire-text">The price is expired</span>
				</div>
				{% endif %}
			</div>

			<div class="trend-container">
				<h3 class="trend-heading">Trending cryptos</h3>

				{% for coin in coins %}
				<a href="/trade/{{ coin.coin_id }}" class="trend-coin">
					<div class="centeriod">
						<img
							src="{{ coin.image }}"
							alt="{{ coin.name }} logo"
							class="coin-logo"
						/>
						<span class="coin-name coin-name--trend">{{ coin.name }}</span>
					</div>
					<span class="coin-price coin-price--trend">{{ coin.price }}</span>
				</a>
				{% endfor %}
			</div>
		</aside>
	</section>

	{% if not session["user_id"] %}
	<section class="section-prefooter">
		<h2>Start with Bitcoin Now</h2>
		<a href="/register" class="btn-cta ls-small">Register Now</a>
	</section>
	{% endif %}
</main>

{% endblock %} {% block script %}
<script src="../static/js/main.js"></script>
<script src="../static/js/trade.js"></script>
{% endblock %}
