{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="../static/css/wallet.css" />
{% endblock %} {% block title %} Log in {% endblock %} {% block left_nav %}
<div class="main-nav--left centeriod">
	<div class="account">
		<button class="user-account">
			<img
				src="../static/images/icons/user.svg"
				alt="user icon"
				class="account-icon account-icon--user"
			/>
			{{ user.username }}
			<img
				src="../static/images/icons/sort-down.svg"
				alt="sort down icon"
				class="account-icon account-icon--sortdown"
			/>

			<img
				src="../static/images/icons/sort-up.svg"
				alt="sort down icon"
				class="account-icon account-icon--sortup"
			/>
		</button>

		<ul class="account-setting">
			<li>
				<a href="/wallet" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Wallet</a
				>
			</li>
			<li>
				<a href="/logout" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Log out</a
				>
			</li>
			<li>
				<a href="/delete" class="account-setting--link"
					><img
						src="../static/images/icons/caret-right.svg"
						alt="caret right icon"
						class="caret-icon"
					/>
					Delete Account</a
				>
			</li>
		</ul>
	</div>
</div>
{% endblock %} {% block main %}
<main>
	<div class="wallet-container">
		<div class="capital-container">
			<h3 class="wallet-subhead">Overview</h3>
			<div class="capital">
				<img
					src="../static/images/icons/wallet.svg"
					alt="wallet-icon"
					class="wallet-icon"
				/>
				<span class="total-heading capital-subhead">Total Capital</span>
				<span class="pnl-heading capital-subhead">Total PNL</span>
				<span class="total-amount ls-small">--</span>
				<span class="pnl-content ls-small">--</span>
			</div>
		</div>

		<div class="asset-container">
			<h3 class="wallet-subhead">Asset Allocation</h3>
			<div class="asset">
				<canvas class="myCanvas" id="myCanvas"></canvas>
				<div class="label-box"></div>
			</div>
		</div>
	</div>

	<div class="portfolio-container list-container">
		<h3 class="wallet-subhead">Portfolio</h3>
		<div class="portfolio table">
			<div class="table-row table-row--head table-row--portfolio">
				<span class="portfolio-coinname">Coin</span>
				<span class="portfolio-amount">Amount</span>
				<span class="portfolio-value t-right">Value</span>
				<span class="portfolio-pnlvalue t-right">PNL</span>
				<span class="portfolio-pnlpercent t-right">PNL % </span>
				<span class="portfolio-btn--box t-right trans">foo</span>
			</div>

			<div class="scroll-data">
				{% for balance in balances %}
				<div
					class="table-row table-row--portfolio table-row--body portfolio-coins"
					data-coin-id="{{ balance.coin_id }}"
					data-amount="{{ balance.amount }}"
					data-init-price="{{ balance.price }}"
					id="{{ balance.coin_id }}"
				>
					<div class="portfolio-coin">
						<img
							src="{{ balance.coin_logo}}"
							alt="{{ balance.coin_id }} logo"
							class="portfolio-coin--logo"
						/>
						<span class="portfolio-coin--name">{{ balance.symbol }}</span>
					</div>
					<span class="portfolio-amount"
						>{{ balance.amount | decimal_four}}</span
					>
					<span class="portfolio-value t-right">--</span>
					<span class="portfolio-pnlvalue t-right">--</span>
					<span class="portfolio-pnlpercent t-right">--</span>
					<div class="portfolio-btn--box t-right">
						{% if balance.symbol != "USD" %}
						<a href="/trade/{{ balance.coin_id }}" id="portfolio-btn"
							>Buy/Sell</a
						>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="history-container list-container">
		<h3 class="wallet-subhead">History</h3>
		<div class="history table">
			<div class="table-row table-row--history table-row--head">
				<span class="history-action">Action</span>
				<span class="history-name">Coin</span>
				<span class="history-amount">Amount</span>
				<span class="history-price t-right">Price</span>
				<span class="history-value t-right">Value</span>
				<span class="history-date t-right">Date</span>
			</div>

			<div class="scroll-data">
				{% for transition in transitions %}
				<div class="table-row table-row--history table-row--body">
					<span class="history-action">{{ transition.action }}</span>
					<div class="history-coin">
						<img
							src="{{ transition.coin_logo }}"
							alt="{{ transition.coin_id }} logo"
							class="history-coin--logo"
						/>
						<span class="history-coin--name">{{ transition.symbol }}</span>
					</div>
					<span class="history-amount">{{ transition.amount }}</span>
					<span class="history-price t-right"
						>{{ transition.price | usd }}</span
					>
					<span class="history-value t-right"
						>{{ transition.value | usd }}</span
					>
					<span class="history-date t-right">{{ transition.time }}</span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="copyright">
		<span>&COPY; 2022 CoinSavvy, Inc. All Rights Reserved</span>
	</div>
</main>
{% endblock %} {% block script %}
<!-- <script src="../static/js/chart.js"></script> -->
<script src="../static/js/wallet.js"></script>
{% endblock %}
